.lightGray {
    background-color: lightgray;
}

.darkBlue {
    background-color: #0D6489;
}

.darkGray {
    background-color: darkgray;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.lightBlue {
    background-color: lightblue;
}

.card {
    border-radius: 4px;
    background-clip: padding-box;
    padding: 4px 10px;
    margin: 4px 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}