.end {
    display: flex;
    justify-content: end;
}

.innerButton {
    margin-right: 4px;
}

.reply {
    margin: 0;
    cursor: pointer;
    width: min-content;
}

.reply:hover {
    text-decoration: underline;
    color: blue;
}
