.header { 
    height: 3rem;
    background: linear-gradient(#21AE5E, #36A9AE);
    background-color: #089A48;
    color:white;
    text-align:left;
    display: flex;
    padding-top: 1px;
    size: 200px;
    font-family: Copperplate;
    font-size: 30px;
}


.header a { 
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header a:hover {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    color: black;
  }

.header a.active {
    background-color: #04AA6D;
    color: white;
  }

  .login {
    background-color: #04AA6D;
    color: white;
    text-align: right;
  }
  .active {
      font-size: 30px;
  }


